@model IEnumerable<Oleksandr_Lut_zal.Models.ShoppingPositionList>


<div style="display: flex; justify-content: space-between; margin-bottom: 50px; align-items: center">
    <h1>Moje listy zakupów</h1>
    <a href="/ShopingPositions/Create" class="btn btn-success">Dodaj pozycje</a>
</div>

@foreach (var list in Model)
{
    <div style="display: flex; justify-content: space-between; width: 500px;">

        <h2>@list.listTitle</h2>
        <p>@list.PlannedDate</p>
    </div>

    <ul class="table">
        @foreach (var item in list.ShopingPosition)
        {
            <li>
                <span style="@(!item.isDrawOut ? "" : "text-decoration: line-through;")">
                    @Html.DisplayFor(modelItem => item.description)
                </span>
            </li>
        }
    </ul>
}