@model Oleksandr_Lut_zal.Models.ShoppingPositionList

@{
    ViewData["Title"] = "Create";
}

<h1>Tworzenie nowej listy zakupów</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="listTitle" class="control-label"></label>
                <input asp-for="listTitle" class="form-control" />
                <span asp-validation-for="listTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do widoku z listami</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
