@model IEnumerable<Oleksandr_Lut_zal.Models.ShoppingPositionList>

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; justify-content: space-between; margin-bottom: 50px; align-items: center">
    <h1>Moje listy zakupów</h1>
    <a asp-action="Create">Utwórz nową listę</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa listy
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.listTitle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Podgląd</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
